
<div class="div-login">

  <!-- <h2 class="h2-sign">Edit <%= resource_name.to_s.humanize %></h2> -->
  <h2 class="h2-sign">Edit Account</h2>
<<<<<<< HEAD
=======
  <!-- <h2>Edit <%#= resource_name.to_s.humanize %></h2> -->
>>>>>>> upstream/master

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.text_field :first_name, placeholder: "first name", size: 25, :autofocus => true %></div>
    <p>
    <div><%= f.text_field :last_name, placeholder: "last name", size: 25 %></div>
    <p>
    <div><%#= f.label :email %>
    <%= f.email_field :email, placeholder: "my_email@domain.com", size: 25 %></div>
    <br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%#= f.label :password %> <i>(leave blank to keep)</i><br />
    <%= f.password_field :password, placeholder: "new password", size: 25, :autocomplete => "off" %></div>
    <p>
    <div><%#= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "confirm new password", size: 25 %></div>
    <p>

    <div><%#= f.label :current_password %> <i>(confirm current password)</i><br />
    <%= f.password_field :current_password, placeholder: "confirm current password", size: 25 %></div>
    <br>

    <div><%= f.submit "Update", class: "btn btn-primary btn-lg"%> </div>
  <% end %>
    <br>

  <strong>Unhappy?</strong>
  <%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-success btn-sm" %>
  <p>

  <%#= button_to "Back", :back, class: "btn btn-success btn-sm" %>
</div>