<div class='row'>

<div id='realArea' class ='col-xs-12 col-sm-6' >
<% if @real_chart.activities.empty? %>
  <div id='first_activity'>
    <div class="container">
      <%= render partial: "/users/first_activity_form" %>
      <br>
      <h5>Below is an example of a real chart. Enter an activity below to make your own!</h5>
      <div id='stand-in'> 
        <%= image_tag('real_chart_stand_in.png')%>
      </div>
    </div>
  </div>

<% else %>

  <div id='realChartContainer' style="height: 500px; width: 100%;">
  </div>
  <div class='text-center'>
    <button name='button' id='showAddActivityForm' class='btn btn-success'>Enter An Activity</button>
    <button name='button' id='showAddImageForm' class='btn btn-success'>Upload An Image</button>
    <br>
  <%= render partial: "/users/real_activity_form" %>
  <%= render partial: "/users/form" %>
  </div>

<% end %>
</div>

<div id="idealArea" class ='col-xs-12 col-sm-6'>
  <div id='idealChartContainer' style="height: 500px; width: 100%;">
  </div>

  <%= render partial: "/users/ideal_interest_form" %>
  <br>
  <br>  

  <div class='text-center'>
    <form id='updateIdeal'>
      <label>Health:&nbsp;&nbsp;&nbsp;&nbsp;</label><input id='health' name='ideal_chart[health_score]' placeholder=" Enter Ideal %" value='<%= @idealchart.health_score %>' size="4"><br>
      <label>Social:&nbsp;&nbsp;&nbsp;&nbsp;</label><input id='social' name='ideal_chart[social_score]' placeholder=" Enter Ideal %" value='<%= @idealchart.social_score %>' size="4"><br>
      <label>Intellect:&nbsp;</label><input id='intellect' name='ideal_chart[intelllect_score]' placeholder=" Enter Ideal %" value='<%= @idealchart.intellect_score %>' size="4"><br>
      <button class='btn btn-success'>Update</button>
    </form>
  </div> 
  <br>
  <br>
  </div>
</div>


