<div>
<form id='addActivity'>
  <input id='activity_body' name='activity[body'>
</form>

</div>

<div id='activities'>
</div>


<div id='idealChartContainer' style="height: 300px; width: 100%;">

</div>


<div>
  <form id='updateIdeal'>
    <label>Health:</label> <input id='health' name='ideal_chart[health_score]' value='<%= @idealchart.health_score %>'>
    <label>Social: </label> <input id='social' name='ideal_chart[social_score]' value='<%= @idealchart.social_score %>'>
    <label>Intellect: </label> <input id='intellect' name='ideal_chart[intelllect_score]' value='<%= @idealchart.intellect_score %>'>
    <button name='button'>Update</button>
  </form>

</div>

<!-- Below code is for Carrierwave; note the potential bug in line 3:  <input id='activity_body' name='activity[body'> -->
<%= form_for @activity, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :real_chart_id %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p><%= f.submit %></p>
<% end %>
