<div class='row'>

<div id='realArea' class ='col-xs-12 col-md-6' >
<div id='realChartContainer' style="height: 500px; width: 100%;">
</div>

<%= render partial: "/users/real_activity_form" %>


</div>
<div id="idealArea" class ='col-xs-12 col-md-6'>
<div id='idealChartContainer' style="height: 500px; width: 100%;">
</div>

<div class='text-center'>
  <form id='updateIdeal'>
    <label>Health:&nbsp;&nbsp;&nbsp;&nbsp;</label><input id='health' name='ideal_chart[health_score]' placeholder=" Enter Ideal %" value='<%= @idealchart.health_score %>' size="4"><br>
    <label>Social:&nbsp;&nbsp;&nbsp;&nbsp;</label><input id='social' name='ideal_chart[social_score]' placeholder=" Enter Ideal %" value='<%= @idealchart.social_score %>' size="4"><br>
    <label>Intellect:&nbsp;</label><input id='intellect' name='ideal_chart[intelllect_score]' placeholder=" Enter Ideal %" value='<%= @idealchart.intellect_score %>' size="4"><br>
    <button class='btn btn-success'>Update</button>
  </form>
</div>
<br>

<%= render partial: "/users/ideal_interest_form" %>

</div>


</div>
<br>
<br>

<!-- carrierwave placeholder code below -->
<%= render partial: "/users/form" %>

<div class="container">
  <% @activities.each do |image| %>
    <div>
      <%= image_tag image.image_url(:thumb).to_s %>
      <div><%= image.body %>
        <%#= link_to "edit", edit_real_chart_activity(activity) %><!--  | -->
        <%= button_to "delete", real_chart_activity_path(@real_chart.id, image.id), method: :delete, class: "btn btn-primary btn-sm" %>
      </div>
      <br>
    </div>
  <% end %>
</div>
