<br/><br/><br/>
<h1>My Profile Page</h1> 

   <!-- 
   Show activities by category -->
   <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4"><h3>Social</h3>
               <div class="well">
                 <% user_social_activities = current_user.real_charts[0].activities.where(category_id: 1)%>
                  <% user_social_activities.each do |social_activity| %>
                  <p>
                    <%= social_activity.body %><br/>
                    <em><%= social_activity.created_at.month %>/<%= social_activity.created_at.day %>/<%= social_activity.created_at.year %></em>
                  </p>
                  <% end %>
               </div>
            </div>
            
            <div class="col-xs-6 col-md-4"><h3>Health</h3>
                <div class="well">
                    <% user_health_activities = current_user.real_charts[0].activities.where(category_id: 2)%>
                  <% user_health_activities.each do |health_activity| %>
                  <p>
                    <%= health_activity.body %><br/>
                    <em><%= health_activity.created_at.month %>/<%= health_activity.created_at.day %>/<%= health_activity.created_at.year %></em>
                  </p>
                  <% end %>
                </div>
            </div>

            <div class="col-xs-6 col-md-4"><h3>Intellect</h3>
                <div class="well">
                    <% user_intellect_activities = current_user.real_charts[0].activities.where(category_id: 3)%>
                  <% user_intellect_activities.each do |intellect_activity| %>
                  <p>
                    <%= intellect_activity.body %><br/>
                    <em><%= intellect_activity.created_at.month %>/<%= intellect_activity.created_at.day %>/<%= intellect_activity.created_at.year %></em>
                  </p>
                  <% end %>
               </div>
            </div>
          </div>  
    </div>
    
   <h4>All the pictures </h4>
   <!--  Show pictures -->
    <div class="container">
           <% activities_with_picture = current_user.real_charts[0].activities.where("image is not NULL")%>
           <% activities_with_picture.each do |image| %>
             <div>
                 <%= image.body %>
              <%= image_tag image.image_url(:thumb).to_s %>
          </div>
             
           <% end %>
</div>

    