
<div class="div-login">
  <h2 class="h2-sign">Forgot your password?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%#= f.label :email %><br />
    <%= f.email_field :email, placeholder: "my_email@domain.com", size: 25, :autofocus => true %></div>
    <p>

    <div><%= f.submit "Send Reset Email", class: "btn btn-success btn-md" %></div>
  <% end %>
  <p>
  <p>
  
  <%= render "devise/shared/links" %>
</div>