
<nav class="navbar navbar-default navbar-fixed-top navbar-background" role="navigation">
  <!-- fiddle with 'navbar-fixed-top' in the above -->
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-nav">
    <li><a class="navbar-brand" href="/"><b>The Ideal.Me</b></a></li>
  </ul>
    <ul class="nav navbar-nav navbar-nav">
    <% if user_signed_in? %>
    <li><%= link_to "My Dashboard", user_dashboard_path(current_user.id) %></li>
    <li><%= link_to "My Activities", "/users/#{"current_user.id"}" %></li>
    <% else %>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li> <%=link_to current_user.email, edit_user_registration_path%> </li>
      <li id="logout"> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
    <% else %>
      <li><%= link_to "Create Dashboard!", new_user_registration_path %></li>
      <div class="nav navbar-text">
        <%= form_for :user, url: "/users/sign_in", method: :post, html: {class: "form-inline", role: "form"} do |f| %>

          <div class="col-xs-1 visible-xs"></div>
          <div class="form-group">
            <label class="sr-only" for="user_email">Email address</label>
            <%= f.email_field :email, placeholder: "email", :autofocus => true, class: "form-control" %>   
          </div>
          <div class="col-xs-1 visible-xs"></div>
          <div class="form-group">
            <label class="sr-only" for="user_password">Password</label>
             <%= f.password_field :password, placeholder: "password", class: "form-control"%> 
          </div>
         
          
          <%= f.submit "Login", class: "btn btn-default" %> 
        <% end %>
      </div>
    <% end %>
    </ul> 
</nav>