
<nav class="navbar navbar-default navbar-fixed-top navbar-background" role="navigation">
  <!-- fiddle with 'navbar-fixed-top' in the above -->
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-nav">
    <li><a href="/"><b>Ideal Me</b></a></li>
    <li><a href="/users/:id/dashboard">My Charts</a></li>
  </ul>
  
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <p class="nav navbar-text">Hello,</p>
      <li><%=link_to current_user.first_name, edit_user_registration_path%> </li>
      <!-- <li> <%#= link_to "Account", edit_user_registration_path %></li> -->
      <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
        <!-- <li><%#= link_to "Login", new_user_session_path %> </li> -->
        
      <li>
        <%= form_for :user, url: "/users/sign_in", method: :post do |f| %>
          <%= f.email_field :email, placeholder: "email", :autofocus => true %>
          <%= f.password_field :password, placeholder: "password" %>
          <%= f.submit "Login", class: "btn btn-primary btn-sm" %>
        <% end %>
      </li>
    <% end %>
  </ul> 
</nav>